.env.local
.env
.neon
**/.env
**/.env.*
**/node_modules/
**/dist/
**/release/
releases/
desktop-app/release/
*.apk
*.exe
*.blockmap
**/*.apk
**/*.exe
**/*.blockmap
*.tgz
*.log
backend/.env
backend/.env.neon

